* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    background: #0020F4;
    padding: 50px;
}

nav a {
    color: white;
}

.img3 {
    width: 463px;
    height: 420px;
}

.p3 {
    font-size: 18px;
    color: #171717;
    width: 339px;
    height: 65px;
}

.divi {
    display: inline-block;
}