* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

header {
    background-color: #0020F4;
    padding: 50px;
}

a {
    color: white;
}

.divi {
    position: relative;
    display: inline-block;
}

.divi {
    position: relative;
}

.img3 {

    width: 520px;
    height: 470px;
    margin-left: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.p3 {
    font-size: 18px;
    width: 310px;
    height: 65px;
    position: absolute;
    left: 75px;
    top: 250px;
    background-color: #FFFFFF;
    padding-right: 74px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 12px;

}